.terminal {
  border-radius: 20px;
  border: 1px solid #444;
  background-color: rgb(219, 219, 219);
  width: 30%;
  box-shadow: 0 0 10px 1px #444;
  padding: 8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 2%;
  top: 2%;
}

.contents {
  height: 90%;
  flex-direction: row;
  display: flex;
  overflow: scroll;
  color: black;

}

.topBar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 30px;
  padding: 10px;
  gap: 1ch;
  /* background-color: #282c34; */
  background-color: rgb(219, 219, 219);
}

.circleG, .circleO, .circleR {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circleR {
  background-color: red;
}

.circleR:hover {
  background-color: rgb(248, 86, 86);
}

.circleO {
  background-color: orange;
}

.circleO:hover {
  background-color: rgb(252, 184, 57);
}
.circleG {
  background-color: green;
}

.aboutMe{
  display: flex;
  flex-direction: column;
}

.imagebox {
  width: 20%;
}

.image {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 20px;
}

.tag {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.terminalPosition{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.text{
  color: black;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .terminal{
    width: 90%;
  }
}