.container{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 3%;
}

.imagebox {
  width: 70%;
}

.image {
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 50%;
}

.links {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
  }

.links a {
    text-decoration: none;
    transition: all 250ms ease-in-out;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.links a:hover{
    color: #696969;
    transform: scale(1.1);
}

.github, .linkedin, .mail {
    color: black;
    font-size: 30px;
}

.aboutMe{
  display: flex;
  flex-direction: column;
}


.tag {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.text{
  color:black;
  margin-left: 10px;
}