.container {
  width: 70%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: center;
  gap: 20px;
}

.postWrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 2%;
  transition: all 250ms ease-in-out;
}

.postWrapper:hover {
  border-color: #5c6370;
  /* transform: scale(1.05); */
}

.title {
  font-size: 20px;
  color: black;
}

.date {
  margin-left: auto;
  color:#5c6370;
}