.container {
  width: var(--centerWidth);
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: center;
  margin-bottom: 10%;
}

.terminalPosition{
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.resumeWrapper{
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  width: fit-content;
  padding: 1%;
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
}

.resumeWrapper:hover {
  border: 1px solid #0076d7;
  color: #0076d7;
  transform: scale(1.1);
}
.resume:hover {
  color: #0076d7;
}

.textTerminal{
  color: #5c6370;
  text-align: center;
  font-size: 14px;
  padding: 2%;
}

.textTerminalTech{
  color: #5c6370;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  text-align: center;
}

.textPosition {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2ch; 
}

.linkPosition {
  font-weight: bold;
  color: #61afef;
  transition: all 250ms ease-in-out;
}

.linkPosition:hover {
  text-decoration: underline;
  color: #0076d7;
  /* transform: scale(1.1); */
}

@media  only screen and (max-width: 600px) {
  .container{
    gap: 1ch;
    width: 90%;
    margin-bottom: 100px;
    margin-top: 20px;
  }
.textPosition {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0; 
}
.mobileWrapperPositions {
  display: flex;
  flex-direction: column;
}
}