.text {
  color: #E0E1DD;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.links {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  display: flex;
}

.links a {
  display: block;
  color: #E30B5C;
  margin: 0 20px;
  border-radius: 7px;
  padding: 4px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.links a:hover{
  background-color: #E30B5C;
  color: #282c34;
  transform: scale(1.1);
  box-shadow: 0 0 10px black;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}