.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  /* background-image: url('../public/wallpaper.jpeg'); */
  background-size:cover;
}

.content {
  position: relative;
  flex-grow: 1;
}