.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 720px) {
  .box {
    flex-direction: row;
  }
}

.textbox {
  margin: 20px 20px 20px 0;
  width:60%;
  background-color: white;
  color: black;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.imagebox {
  margin: 10px 40px 10px 40px;
  width:20%;
}

.image {
  width:100%;
  height:100%;
  object-fit: cover;
}