.tags  {
    flex-direction: row;
    display: flex;
    margin-top: 0;
    background-color: white;
    overflow: hidden;
}

.tags a{
    display: block;
    color: black;
    margin: 20px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.tags a:hover{
    color: #696969;
    transform: scale(1.1);
}
