.container {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  flex-direction: column;
  width: 70%;
  overflow: scroll;
  height: 100%;
  gap: 5%;
  padding: 5%;
  margin-bottom: 10%;
}

.contentWrapper {
  border-radius: 10px;
  border: #ddd solid 1px;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.contentWrapper:hover {
  border: black solid 1px;
}

.textTitle {
  font-weight: bold;
  font-size: 15px;
}

.github {
  transition: all 250ms ease-in-out;
  font-size: 30px;
}

.github:hover {
  color: #5c6370;
  transform: scale(1.1);
}

.tagContents {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  justify-items: center;
  flex: 1;
  padding: 0.5%;
}

.textDescription{
  margin-left: 5px;
  color: #5c6370;
  text-align: center;
  font-size: 14px;
}

.textTerminalTech{
  color: #5c6370;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
  justify-content: center;
  font-size: 12px;
}

.technologiesStyling{
  display: flex;
  flex-direction: row;
  gap: 1ch; 
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
    width: 90%;
    margin-top: 20px;
}
}