.contents{
    margin: 70px 20px 20px 20px;
}

.snowflake {
    height:300px;
    width: 300px;
}

.calculator {
    width: 200px;
}

.images {
    height:300px;
    width: 300px;
}

.crk {
    width: 400px;
}