.terminal {
  border-radius: 20px;
  border: 1px solid #444;
  background-color: rgb(219, 219, 219);
  width: 90%;
  max-height: 70%;
  box-shadow: 0 0 10px 1px #444;
  padding: 8px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 2%;
  bottom: 0%;
}

.contents {
  position: relative;
  height: 20rem;
  overflow-y: scroll;
}

.scrollContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: inherit;
  height: inherit;
  position: absolute;
}

.topBar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 30px;
  padding: 10px;
  gap: 1ch;
  background-color: rgb(219, 219, 219);
}

.circleG, .circleO, .circleR {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.circleR {
  background-color: red;
}

.circleR:hover {
  background-color: rgb(248, 86, 86);
}

.circleO {
  background-color: orange;
}

.circleO:hover {
  background-color: rgb(252, 184, 57);
}
.circleG {
  background-color: green;
}


.textTerminal{
  margin-left: 5px;
  color: #5c6370;
  text-align: center;
  font-size: 14px;
}

.textTerminalTech{
  color: #5c6370;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
  justify-content: center;
  font-size: 12px;
}

.technologiesStyling{
  display: flex;
  flex-direction: row;
  gap: 1ch; 
}

.textPosition {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.textDomi{
  color: #61afef;
  margin: 0 2px 0 2px;
  font-size: 10px;
}

.textTilda{
  color: #e06c75;
  margin: 0 2px 0 2px;
  font-size: 10px;
}

.textLambda{
  color: #98c379;
  margin: 0 2px 0 2px;
  font-size: 10px;
}

.textLambda, .textDomi, .textTilda {
  display: none;
}

.bottomArrow {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media (min-width: 600px) {
  .tag {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  
  .terminalPosition{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .text{
    color:black;
    margin-left: 10px;
  }
  
  .textbox {
    margin: 20px 20px 20px 0;
    width:60%;
    background-color: #282c34;
    color: white;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .terminal {
    border-radius: 20px;
    border: 1px solid #444;
    /* background-color: #282c34; */
    background-color: rgb(219, 219, 219);
    width: 50%;
    min-height: 200px;
    box-shadow: 0 0 10px 1px #444;
    padding: 8px;
  }
  
  .topBar {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 10px;
    gap: 1ch;
  }
  
  .textTerminal{
    margin-left: 5px;
    color: #5c6370;
  }
  
  .textTerminalTech{
    color: #5c6370;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1ch;
    justify-content: center;
    text-align: center;
  }
  
  .technologiesStyling{
    display: flex;
    flex-direction: row;
    gap: 1ch; 
  }

  .icons {
    visibility: visible;
  }
}