.contents {
    color: black;
    width: 80%;
    max-width: 720px;
}

.main {
    width: 100%;
}

.wrapper {
    width: 100vw;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.snowflake {
    height:300px;
    width: 300px;
}

.calculator {
    width: 200px;
}

.images {
    height:300px;
    width: 300px;
}

.crk {
    width: 400px;
}

.lists {
    display: flex;
    flex-direction: column;
}