.wrapper {
    margin: 10px;
    padding: 10px;
    border: black solid 2px;
    border-radius: 20%;
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    opacity: 0.75;
    transition: all 250ms ease-in-out;
}

.wrapper:hover {
    background-color: white;
    transform: scale(1.1);
    opacity: 1;
}
.container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    border: cornflowerblue solid 1px;
    background-color: white;
    transition: all 250ms ease-in-out;
}

.container:hover {
    background-color: cornflowerblue;
    transform: scale(1.1);
    opacity: 1;
}

.info {
    font-size: 12px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

