.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 3%;
}

.image{
  width: 50%;
  border-radius: 20px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}